<!DOCTYPE HTML>
<html>

<head>
  <title>插件管理 - 插件仓库 - 编辑插件 - HXCloud - Hong Xun Technology Development Co., Ltd.</title>
  {include file="public/css"}
  <!--//skycons-icons-->
</head>

<body>
  <div class="page-container">
    <div class="left-content">
      <div class="mother-grid-inner">
        <!--header start here-->
        {include file="public/header_main"}
        <!--heder end here-->
        <!--inner block start here-->
        <div class="inner-block">
          <div class="inbox">
            <h2>插件管理/插件仓库</h2>
            {include file="yun/addon/left"}
            <div class="col-md-10 compose-right">
              <div class="inbox-details-default">
                <div class="inbox-details-heading">
                  编辑插件
                </div>
                <div class="inbox-details-body">
                  <form action="{:url('admin/yun.addon/version_save')}" method="post" class="com-mail ajax-form">
                    版本
                    <input type="text" id="version" name="version" value="{$data['version']}" placeholder="版本">
                    描述
                    <textarea type="text" id="content" name="content" value="{$data['content']}" placeholder="描述">{$data.content}</textarea>
                    文件
                    <div class="input-button">
                      <input type="text" name="file_name" value="{$data.file_name}" id="file_name" readonly>
                      <input type="button" class="input-group-addon plupload" data-type="sourcecode" value="上传" style="margin-top:0">
                    </div>
                    审核状态
                    <div class="form-radio">
                      <input type="radio" name="status" value="0" {if condition:$data['status'] eq 0}checked{/if}
                        placeholder="中文名">未审核
                      <input type="radio" name="status" value="1" {if condition:$data['status'] eq 1}checked{/if}
                        placeholder="中文名">通过
                      <input type="radio" name="status" value="2" {if condition:$data['status'] eq 2}checked{/if}
                        placeholder="中文名">拒绝
                    </div>
                    <input type="hidden" name='id' value="{$data['id']}">
                    <input type="hidden" name='addon_id' id="addon_id" value="{$data['addon_id']}">
                    <input type="hidden" name='path' id="path">
                    <input type="file" id="imagefile" style="display: none;">
                    {:token()}
                    <input type="button" onclick="formAjaxSubmit()" value="保存">
                  </form>
                </div>
              </div>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
      </div>
      <!--inner block end here-->
      <!--copy rights start here-->
      {include file="public/copyright"}
      <!--COPY rights end here-->
    </div>
    <!--slider menu-->
    {include file="public/sidebar_menu"}
    <div class="clearfix"> </div>
  </div>
  <!--slide bar menu end here-->
  {include file="public/js"}
  <!-- mother grid end here-->
</body>
<script>
  $(".plupload").click(function () {
    $("#imagefile").click();
  });

  $("#imagefile").on("change", function () {
    var load = layer.load(0, { shade: [0.1, '#fff'] });
    var formData = new FormData();
    formData.append("file", document.getElementById("imagefile").files[0]);
    $.ajax({
      type: "POST",
      url: "{:url('admin/yun.addon/upload')}",
      processData: false,  // 不要处理发送的数据
      contentType: false,   // 不要设置Content-Type请求头
      data: formData,
      success: function (data) {
        layer.close(load);
        if (data.cod == 1) {
          $('#file_name').val(data.filename)
          $('#path').val(data.path)
        } else {
          layer.msg(data.msg)
        }
      }
    });
    $('#imagefile').val();
  });
</script>

</html>