<!DOCTYPE html>
<html lang="en">

<head>
    <title>应用商店</title>
    <!-- ALL STYLESHEET -->
    <link href="__STATIC__/newstore/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/style.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/responsive.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/hx.css" rel="stylesheet">
    <!--link href="css/blog-single.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet"-->
</head>
<style>
    .about{
        margin: 60px 0
    }
    .about-info{
        font-size: 32px;
        color: #72cdc8
    }
</style>
<body>
    <!-- header -->
    {include file="public/header"}
    <!-- home -->
    <div class="container">
        <div class="about">
            <div class="about-info">
                地址：广西南宁市兴宁区民生路绿都商厦2902
            </div>
            <div class="about-info"> 
                邮箱：gx@dayongjiaoyu.cn
            </div>
            <div class="about-info">
                电话：0771-6898568
            </div>
        </div>
    </div>
    {include file="public/footer"}
</body>

</html>