<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>应用平台 - 软件下载</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-transform " />
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" media="screen">
    <link rel="stylesheet" href="__STATIC__/store/css/62faa85.css" />
    <link rel="stylesheet" href="__STATIC__/store/css/0f9c9b0.css" />
    <script src="__STATIC__/store/js/ef88cbd.js"></script>
</head>

<body>
    {include file="public/nav"}
    <link rel="stylesheet" href="__STATIC__/store/css/ce458b9.css" />
    <div class="ur_here f-14" style="margin-top: 10px;">
        <div class="wrap">
            <a href="/">首页</a> > <span>软件下载</span>
        </div>
    </div>
    <div class="download">
        <div class="main1 pb-50 pt-50">
            <div class="main1-title wrap f-22 pb-15">
                软件下载
            </div>
            <div class="main1-body wrap clearfix">
                <div class="main-list fl mr-10">
                    <div class="list-top clearfix">
                        <div class="top-left fl pl-50">
                            <img src="__STATIC__/store/image/d-icon1.png" />
                        </div>
                        <div class="top-right pl-20 fl">
                            <h3 class="f-20 l-30">
                                企业建站管理系统<br />
                                <span>重磅上市</span>
                            </h3>
                            <a href="https://download.dayongjiaoyu.cn/hxcms/hxcms-master.zip" target="_blank" class="btn1 t-c">
                                下载通道1
                            </a>
                            <a href="https://download.dayongjiaoyu.cn/hxcms/hxcms-master.zip"
                                target="_blank" class="btn2 t-c">
                                下载通道2
                            </a>
                        </div>
                    </div>
                    <div class="list-bottom">
                        <h3 class="f-18 pt-24 pl-40 pt-20">弘讯企业管理系统</h3>
                        <p class="f-13 pt-5 pl-40 l-20">
                            基于THINKPHP5开发<br />
                            支持PHP7.0-PHP7.3版本，稳定高效<br />
                            活跃的第三方开发者及开发团队，<br />
                            依托开放生态系统，轻松扩展。
                        </p>
                    </div>
                </div>
                <!-- <div class="main-list fl mr-10">
                    <div class="list-top clearfix">
                        <div class="top-left fl pl-50">
                            <img src="__STATIC__/store/image/d-icon1.png" />
                        </div>
                        <div class="top-right pl-20 fl">
                            <h3 class="f-20 l-30">
                                物业管理系统<br />
                                <span>正在内测</span>
                            </h3>
                            <a href="#"
                                target="_blank" class="btn1 t-c">
                                暂未开放下载
                            </a>
                            <a href="#"
                                target="_blank" class="btn2 t-c">
                                暂未开放下载
                            </a>
                        </div>
                    </div>
                    <div class="list-bottom">
                        <h3 class="f-18 pt-20 pl-40">弘讯物业管理系统</h3>
                        <p class="f-13 pt-5 pl-40 l-24">
                            基于THINKPHP5开发<br />
                            支持PHP7.2版本，稳定高效<br />
                            支持多小区物业管理收费缴费<br />
                            准备推出敬请期待。
                        </p>
                    </div>
                </div>
                <div class="main-list fl">
                    <div class="list-top clearfix">
                        <div class="top-left fl pl-50">
                            <img src="__STATIC__/store/image/d-icon1.png" />
                        </div>
                        <div class="top-right pl-20 fl">
                            <h3 class="f-20 l-30">
                                弘讯校园教育管理系统<br />
                                <span>还在赶路</span>
                            </h3>
                            <a href="#"
                                target="_blank" class="btn1 t-c">
                                赶路ing..
                            </a>
                        </div>
                    </div>
                    <div class="list-bottom">
                        <h3 class="f-18 pt-20 pl-40">弘讯校园教育管理系统</h3>
                        <p class="f-13 pt-5 pl-40 l-24">
                            基于THINKPHP5开发<br />
                            支持PHP7.2版本，稳定高效<br />
                            中小学智慧校园方案解决商<br />
							程序猿加班加点赶路中。。。
                        </p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    {include file="public/footer"}
</body>

</html>