<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>弘讯应用商店</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-transform " />
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" media="screen">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" media="screen">
    {include file="public/css"}
</head>

<body>
    {include file="public/nav"}
    <link rel="stylesheet" href="__STATIC__/store/css/ef91770.css" />
    <div class="banner">
        <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
                <a class="swiper-slide" href="#" target="_blank"></a>
                <a class="swiper-slide" href="#" target="_blank"></a>
                <a class="swiper-slide" href="#" target="_blank"></a>
                <a class="swiper-slide" href="#" target="_blank"></a>
                <a class="swiper-slide" href="#" target="_blank"></a>
                <a class="swiper-slide" href="#"></a>
            </div>
            <!-- Add Pagination -->
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <div class="home-main">
        <div class="main-title">
            <h3 class="f-30 t-c pt-80">功能强大，覆盖全网</h3>
            <p class="f-16 t-c pt-15">一键生成PC网站、PC网店、微信公众号、小程序，互联网终端全面覆盖</p>
        </div>
        <div class="wrap clearfix pt-50">
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon1.png" />
                </div>
                <h3>开源</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon2.png" />
                </div>
                <h3>PC网店</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon3.png" />
                </div>
                <h3>分站</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon4.png" />
                </div>
                <h3>HTML5模版</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon5.png" />
                </div>
                <h3>WMS系统</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon6.png" />
                </div>
                <h3>会员系统</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon7.png" />
                </div>
                <h3>订单系统</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon8.png" />
                </div>
                <h3>快递管理</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon9.png" />
                </div>
                <h3>线上收款</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon10.png" />
                </div>
                <h3>二维码扫描</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon11.png" />
                </div>
                <h3>全站搜索</h3>
            </div>
            <div class="box-list fl t-c">
                <div class="list-pic lt-center">
                    <img src="__STATIC__/store/image/main1_icon12.png" />
                </div>
                <h3>购物车</h3>
            </div>
        </div>
        <div class="main-title">
            <h3 class="f-30 t-c pt-80">授权建站</h3>
        </div>
        <div class="wrap clearfix pt-50">
            <div class="main2-half fl">
                <h3 class="f-20 t-c pt-45">永久商业授权</h3>
                <p class="f-13 t-c pt-10 l-24">
                    经过认证后您将拥有商业授权用户身份，并且享有使用HXCMS商业运<br />
                    营的合法权利，避免了法律纠纷，提高了商业信誉度。
                </p>
                <a href="{:url('codeAuth')}" class="t-c f-14">查看详情</a>
                <div class="t-c pt-10">
                    <img src="__STATIC__/store/image/half_left.jpg" />
                </div>
            </div>
            <div class="main2-half fr">
                <h3 class="f-20 t-c pt-45">一站式建站</h3>
                <p class="f-13 t-c pt-10 l-24">
                    经过认证后您将拥有商业授权用户身份，并且享有使用HXCMS进行商业运<br />
                    营的合法权利，避免了法律纠纷，提高了商业信誉度。
                </p>
                <a href="{:url('codeAuth')}" target="_blank" class="t-c f-14">查看详情</a>
                <div class="t-c pt-40">
                    <img src="__STATIC__/store/image/half_right.png" />
                </div>
            </div>
        </div>
        <div class="main-title">
            <h3 class="f-30 t-c pt-80">热门模板推荐</h3>
        </div>
        <div class="wrap clearfix pt-50">
            {volist name="templateList" id="vo"}
            <a href="{:url('index/store.template/detail', array('id'=>$vo.id))}" target="_blank" title="应用商店 {$vo.title}"
                class="mb-list fl mr-40 subscript-body">
                <div class="list-pic">
                    <img src="{$vo.pic_a}" />
                </div>
                <h3 class="t-c f-16">{$vo.title}</h3>
                {if condition:$vo.uploader eq 1}
                <div class="subscript-gf">
                    官方
                </div>
                {else/}
                <div class="subscript-dsf">
                    第三方
                </div>
                {/if}
            </a>
            {/volist}
        </div>
        <div class="main-title">
            <h3 class="f-30 t-c pt-80">热门插件推荐</h3>
        </div>
        <div class="wrap clearfix pt-50">
            {volist name="addonList" id="vo"}
            <div class="fw-list fl mr-40 t-c subscript-body">
                <a class="list-pic t-c" href="{:url('index/store.addon/detail', array('id'=>$vo.id))}" target="_blank">
                    <img src="{$vo.pic_a}" />
                </a>
                <a href="{:url('index/store.addon/detail', array('id'=>$vo.id))}" target="_blank" class="list-title f-16 t-c">
                    {$vo.title}
                </a>
                <p class="f-13 t-c pb-10">
                    {$vo.content}
                </p>
                <div class="f-14 list-pice t-c pb-10">
                    <span>{$vo.price}元</span><br />
                </div>
                <a href="{:url('index/store.addon/detail', array('id'=>$vo.id))}" target="_blank" class="f-14 t-c list-btn">
                    查看详情
                </a>
                {if condition:$vo.uploader eq 1}
                <div class="subscript-gf">
                    官方
                </div>
                {else/}
                <div class="subscript-dsf">
                    第三方
                </div>
                {/if}
            </div>
            {/volist}
        </div>
    </div>
    {include file="public/footer"}
</body>

</html>