<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>弘讯应用商店</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-transform " />
    {include file='public/css'}
    <link rel="stylesheet" href="__STATIC__/order/css/order.css" />
</head>

<body>
    {include file="public/nav"}
    <div style="background-color:#eee;padding:35px 0">
        <div class="cart">
            <div class="cart-header">
                <div class="cart-logo">
                    <img src="/static/store/image/logo.png" alt="">
                    <p>确认订单</p>
                </div>
                <div class="cart-total">
                    <p class="cart-title">全部商品</p>
                    <p>{$count}</p>
                </div>
            </div>
            <div class="cart-body">
                {volist name="list" id="vo"}
                <div class="confirm-item">
                    <div class="confirm-header">
                        <span class="cart-lg">应用</span>
                        <span class="cart-sm">类别</span>
                        <span class="cart-lg">站点</span>
                        <span class="cart-sm">单价</span>
                        <span class="cart-sm">优惠</span>
                        <span class="cart-sm">小计<font>(不含税)</font></span>
                    </div>
                    <div class="confirm-body">
                        <div class="cart-lg">
                            <p>{$vo.project_name}</p>
                        </div>
                        <div class="cart-sm">
                            {switch name="vo.relation"}
                            {case value="addon"}购买插件{/case}
                            {case value="template"}购买模板{/case}
                            {case value="sourcecode"}购买源码{/case}
                            {/switch}
                        </div>
                        <div class="cart-lg">
                            <p>{$vo.website_name}</p>
                            <p class="Info">{$vo.website_domain}</p>
                        </div>
                        <div class="cart-sm">￥{$vo.price}</div>
                        <div class="cart-sm">
                            ￥{$vo.price-$vo.pay_price}
                        </div>
                        <div class="cart-sm">￥{$vo.pay_price}</div>
                    </div>
                </div>
                {/volist}
                <div class="confirm-footer">
                    <p>实付金额：<span>￥{$price}</span> </p>
                    <a class="btn btn-primary" id="submitOrder">提交订单</a>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer"}
</body>
<script>
    $('#submitOrder').click(function () {
        var load = layer.load();
        $.ajax({
            url: '{:url("index/order/submitOrder")}',
            type: 'post',
            dataType: 'json',
            success: function (res) {
                layer.close(load);
                layer.msg(res.msg);
                if(typeof(res.url) != 'undefined'){
                    setTimeout(() => {
                        location.href = res.url;
                    }, 1000);
                }
            }
        })
    })
</script>

</html>