{include file="public/css"}
<section class="content-header">
  <h1>
      支付管理
    <small>  </small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="{:url('admin/index/welcome')}">
        <i class="fa fa-dashboard"></i> 首页</a>
    </li>
    <li class="active">系统设置</li>
    <li class="active">支付管理</li>
    <li class="active">支付宝</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
        </div>
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li><a href="{:url('admin/config/index', array('group'=>'balance_pay'))}">余额支付</a></li>
            <li class="active"><a href="{:url('admin/config/index', array('group'=>'ali_pay'))}">支付宝</a></li>
            <li><a href="{:url('admin/config/index', array('group'=>'union_pay'))}">银联</a></li>
            <li><a href="{:url('admin/config/index', array('group'=>'wechat_pay'))}">微信支付</a></li>
          </ul>
        </div>
        <form class="form-horizontal" action="{:url('admin/config/saveConfig')}" method="post">
          <div class="box-body">
            <div class="form-group hide_relation_0">
              <label for="open_ali_pay" class="col-sm-2 control-label">开启支付宝支付</label>
              <div class="col-sm-8">
                <div class="radio col-sm-1">
                  <label><input type="radio" class="switch" name="open_ali_pay" data-id="129" value="1" {if condition:$config.open_ali_pay eq 1}checked{/if}/>是</label>
                </div>
                <div class="radio col-sm-1">
                  <label><input type="radio" class="switch" name="open_ali_pay" data-id="129" value="0" {if condition:$config.open_ali_pay eq 0}checked{/if}/>否</label>
                </div>
              </div>
            </div>
            <div class="form-group hide_relation_129" {if condition:$config.open_ali_pay eq 0}style="display:none"{/if}>
              <label for="ali_pay_account" class="col-sm-2 control-label">支付宝帐户</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ali_pay_account" name="ali_pay_account" value="{$config.ali_pay_account}" placeholder="" />
              </div>
            </div>
            <div class="form-group hide_relation_129" {if condition:$config.open_ali_pay eq 0}style="display:none"{/if}>
              <label for="ali_pay_key" class="col-sm-2 control-label">交易安全校验码</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ali_pay_key" name="ali_pay_key" value="{$config.ali_pay_key}" placeholder="" />
              </div>
            </div>
            <div class="form-group hide_relation_129" {if condition:$config.open_ali_pay eq 0}style="display:none"{/if}>
              <label for="ali_pay_partner" class="col-sm-2 control-label">合作者身份ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ali_pay_partner" name="ali_pay_partner" value="{$config.ali_pay_partner}" placeholder="" />
              </div>
            </div>
            <div class="form-group hide_relation_129" {if condition:$config.open_ali_pay eq 0}style="display:none"{/if}>
              <label for="ali_pay_private_key" class="col-sm-2 control-label">秘钥</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="ali_pay_private_key" name="ali_pay_private_key" value="{$config.ali_pay_private_key}" placeholder="" />
              </div>
            </div>
          </div>
          <div class="box-footer">
            <input type="hidden" name="group" value="{$group}" />
            <button type="submit" class="btn btn-info pull-right">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{include file="public/js"}
