<link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" media="screen">
<link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" media="screen">
<link rel="stylesheet" href="__STATIC__/user/css/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/store/css/62faa85.css" />
<link rel="stylesheet" href="__STATIC__/store/css/0f9c9b0.css" />
<link rel="stylesheet" href="__STATIC__/store/css/style.css" />
<!-- <script src="__STATIC__/store/js/ef88cbd.js"></script> -->
<script src="__STATIC__/user/js/jquery.min.js"></script>
<script src="__STATIC__/addon/layer/layer.js"></script>
<script src="__STATIC__/user/js/bootstrap.min.js"></script>