<div class="col-md-3">
    <div class="left-menu">
        <div class="menu-header">
            <img src="{$user.head_img}">
            <p>{$user.nickname}</p>
        </div>
        <ul class="topnav">
            <li><a href="#">用户资料</a>
                <ul>
                    <li {if condition="$Request.action eq 'user_info'" }class="active" {/if}> <a href="{:url('user_info')}">个人信息</a></li>
                    <li {if condition="$Request.action eq 'reset_pwd'" }class="active" {/if}> <a href="{:url('reset_pwd')}">修改密码</a></li>
                    <li {if condition="$Request.action eq 'portrait'" }class="active" {/if}> <a href="{:url('portrait')}">上传头像</a></li>
                </ul>
            </li>
            <li><a href="#">钱包</a>
                <ul>
                    <li {if condition="$Request.action eq 'wallet'" }class="active" {/if}> <a href="{:url('wallet')}">我的钱包</a></li>
                    <li {if condition="$Request.action eq 'accountlog'" }class="active" {/if}> <a href="{:url('accountLog')}">收支明细</a></li>
                    <li {if condition="$Request.action eq 'balancelog'" }class="active" {/if}> <a href="{:url('balanceLog')}">冲提明细</a></li>
                </ul>
            </li>
            <li {if condition="$Request.action eq 'domain'" }class="active" {/if}> <a href="{:url('domain')}">站点</a></li>
            {if condition:$user.aptitude}
            <li><a href="#">开发者</a>
                <ul>
                    <li><a href="{:url('template')}">我的模板</a></li>
                    <li><a href="{:url('addon')}">我的插件</a></li>
                </ul>
            </li>
            {else/}
            <li><a href="{:url('aptitude')}">实名认证</a></li>
            {/if}
            <li {if condition="$Request.action eq 'order'" }class="active" {/if}> <a href="{:url('order')}">订单</a></li>
            <li><a href="{:url('index/order/cart')}">购物车</a></li>
            <li><a href="#">发票</a></li>
            <li {if condition="$Request.action eq 'workorder'" }class="active" {/if}><a href="{:url('workOrder')}">工单</a></li>
        </ul>
    </div>
</div>
<script src="__STATIC__/addon/jquery-menu/scriptbreaker-multiple-accordion-1.js"></script>
<script src="__STATIC__/addon/hx/js/global.js"> </script>
<script>
    $(".topnav").accordion({
        accordion: false,
        speed: 500,
        closedSign: '[+]',
        openedSign: '[-]'
    });
    function formAjaxSubmit() {
        var load = layer.load({});
        $.ajax({
            url: $('.ajax-form').attr('action'),
            data: $('.ajax-form').serialize(),
            type: 'post',
            dataType: 'json',
            success: function (res) {
                layer.close(load);
                layer.msg(res.msg);
                if (res.code) {
                    setTimeout(function () {
                        if (res.url) {
                            location.href=res.url;
                        } else {
                            location.reload();
                        }
                    }, 1000);
                }
            }
        })
    }
</script>