<!DOCTYPE html>
<html lang="en">

<head>
    <title>应用商店</title>
    <!-- ALL STYLESHEET -->
    <link href="__STATIC__/newstore/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/style.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/responsive.css" rel="stylesheet">
    <link href="__STATIC__/newstore/css/hx.css" rel="stylesheet">
    <!--link href="css/blog-single.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet"-->
</head>

<body>
    {include file="public/header"}
    <section class="featured-product recommented-product">
        <div class="container">
            <div class="row">
                {include file="user/index/left"}
                <div class="col-sm-9">
                    <!-- desktop -->
                    <div class="featured-product desktop">
                        <div class="row">
                            <div class="col-sm-12">
                                <form role="form" action="{:url('save')}" method="post" class="ajax-form">
                                    <div class="form-group">
                                        <label class="h6 p-b-md block">许可类型：</label>
                                        <label class="md-switch m-r-md" for="extended">
                                            <input id="extended" class="has-value" name="license_extended" type="checkbox"
                                                value="1" {if condition="$user['license_extended'] eq 1" }checked="checked"
                                                {/if}/> <i class="skin"></i> 专有许可 </label>
                                        <label class="md-switch" for="personal">
                                            <input id="personal" class="has-value" name="license_personal" type="checkbox"
                                                value="1" {if condition="$user['license_personal'] eq 1" }checked="checked"
                                                {/if} />
                                            <i class="skin"></i> 共享许可 </label>
                                    </div>
                                    <div class="form-group m-t-md m-b-0">
                                        <input type="hidden" name="page" value="liaison" />
                                        <button id="form-submit" class="btn skin b-skin" type="button" onclick="formAjaxSubmit()">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- desktop -->
                    <!-- pagination -->
                    <nav>
                        {$page.pages}
                    </nav>
                </div>
                <!--div 9 -->
            </div>
        </div>
    </section>
    {include file="public/footer"}
</body>

</html>