<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>弘讯应用商店</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-transform " />
    {include file='public/css'}
    <link rel="stylesheet" href="__STATIC__/user/css/user.css" />
</head>

<body>
    {include file="public/nav"}
    <div style="background: #f4f4f4;padding: 35px 0">
        <div class="container">
            <div class="row">
                {include file="user/index/left"}
                <div class="col-md-9">
                    <div class="right-content">
                        <div class="right-content-header">
                            <span>
                                <p>补充工单信息（{$data.title}）</p>
                            </span>
                        </div>
                        <div class="work-order">
                            <form role="form" action="{:url('workOrderMoreSave')}" method="post" class="ajax-form">
                                <div class="work-order-head">
                                    工单说明
                                </div>
                                <div class="work-order-info">
                                    <div class="work-order-message">
                                        {$data.more_info_message}
                                    </div>
                                </div>
                                <div class="work-order-head">
                                    补充信息
                                </div>
                                <div class="work-order-info">
                                    <div class="work-order-message">
                                        <div class="form-group">
                                            <script id="container" name="more_info_content" type="text/plain">
                                                {$data['more_info_content']|htmlspecialchars_decode}
                                            </script>
                                            <!-- <textarea name="" id="" cols="30" rows="10" class="form-control">{$data.more_info_content}</textarea> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-t-md m-b-0">
                                    <input type="hidden" name="id" id="id" value="{$data.id}" />
                                    <button id="form-submit" class="btn btn-primary" type="button" onclick="formAjaxSubmit()">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer"}
</body>
<!-- 配置文件 -->
<script type="text/javascript" src="__STATIC__/addon/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__STATIC__/addon/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('container', {
        elementPathEnabled: false,
        initialFrameHeight: 300
    });
</script>

</html>